{% extends 'base.html' %}

{% block content %}

<div class="me-5 ms-5">
   <div class="row">
      <div class="col d-flex justify-content-center align-items-center ">

         <div class="card">
            <div class="card-body m-5 gradient-form">
               <h2 class="mt-1 mb-5 pb-1 text-center">تسجيل جديد</h2>

               <form method="post" class="form-group">
                  {% csrf_token %}
                  {% load widget_tweaks %}

                  {% for field in form %}
                  <div class="form-group mt-3 fw-bold text-end">
                     {{ field.label_tag }}

                     {% if form.is_bound %}
                     {% if field.errors %}

                     {% render_field field class="form-control is-invalid"  %}
                     {% for error in field.errors %}
                     <div class="invalid-feedback">
                        {{ error }}
                     </div>
                     {% endfor %}

                     {% else %}
                     {% render_field field class="form-control is-valid" %}
                     {% endif %}
                     {% else %}
                     {% render_field field class="form-control" %}
                     {% endif %}

                  </div>
                  {% endfor %}

                  <div class='pt-5 text-center d-grid gap-2'>
                  <button class="btn btn-lg success mt-4 mb-4 gap-2" type="submit" value="Submit">تسجيل الدخول</button>
                  <strong>ليس لديك حساب?   <a href="{% url 'auth_register' %}">سجل الآن</strong>
                  </div>
               </form>

            </div>

         </div>
      </div>
   </div>
</div>

{% endblock %}
